In [58]:
import numpy as np
import pandas as pd

import itertools

In [2]:
LABELS_PATH = 'data\\FIW\\train-pairs.csv'

In [3]:
df = pd.read_csv(LABELS_PATH)

In [4]:
df.head()

           p1          p2 ptype   fid1   fid2  tags  set  nsamples
0  F0001/MID1  F0001/MID3    fs  F0001  F0001     0    0         6
1  F0001/MID1  F0001/MID4    fs  F0001  F0001     0    0        18
2  F0001/MID2  F0001/MID4    ms  F0001  F0001     0    0        15
3  F0001/MID2  F0001/MID3    ms  F0001  F0001     0    0         5
4  F0001/MID3  F0001/MID4    ss  F0001  F0001     0    0         3

In [14]:
RELS = ['fs', 'fd', 'md', 'ms']
FOLDS_paths = [f'data\\FIW\\folds\\{rel}.csv' for rel in RELS]

In [15]:
dfs = [pd.read_csv(path) for path in FOLDS_paths]

In [16]:
compound_df = pd.concat(dfs)

In [19]:
compound_df.head()

   fold  label                           p1                           p2
0     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07245_face2.jpg
1     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07240_face2.jpg
2     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07242_face2.jpg
3     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07244_face2.jpg
4     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07241_face2.jpg

In [23]:
fold1 = compound_df[compound_df['fold'] == 1]
fold2 = compound_df[compound_df['fold'] == 2]
fold3 = compound_df[compound_df['fold'] == 3]
fold4 = compound_df[compound_df['fold'] == 4]
fold5 = compound_df[compound_df['fold'] == 5]

In [29]:
fold1.head()

   fold  label                           p1                           p2
0     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07245_face2.jpg
1     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07240_face2.jpg
2     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07242_face2.jpg
3     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07244_face2.jpg
4     1      1  F0695/MID3/P07238_face1.jpg  F0695/MID1/P07241_face2.jpg

In [50]:
base_path = 'data\\FIW\\train-faces\\'
def build_pairs_dict(fold_df):
    ids = {}
    pairs = []
    
    for row in fold_df.iterrows():
        label = row[1][1]
        if label == 0:
            continue
            
        img1 = row[1][2]
        img2 = row[1][3]
        
        s1 = img1.split('/')
        s2 = img2.split('/')
        
        fid = s1[0]
        if not ids.get(fid):
            ids[fid] = len(ids)
        
        fid = ids[fid]
        pairs.append({
            'id': fid, 'root': base_path, 'parent': s1[-1], 'child':s2[-1]
        })
    
    return pairs

In [52]:
def generate_triplets(pairs):
    print(f'[log]: generating triples...')
    triplets = []

    for first, second in itertools.product(pairs, pairs):
        if first['id'] == second['id']:
            continue

        triplets.append({
            'id': len(triplets),
            'parent': first['root'] + '\\' + first['parent'],
            'child': first['root'] + '\\' + first['child'],
            'negative_child': second['root'] + '\\' + second['parent']
        })

        triplets.append({
            'id': len(triplets),
            'parent': first['root'] + '\\' + first['parent'],
            'child': first['root'] + '\\' +first['child'],
            'negative_child': second['root'] + '\\' +  second['child']
        })

    return triplets

In [55]:
print('processing fold1')
f1_pairs = build_pairs_dict(fold1)

print('processing fold2')
f2_pairs = build_pairs_dict(fold2)

print('processing fold3')
f3_pairs = build_pairs_dict(fold3)

print('processing fold4')
f4_pairs = build_pairs_dict(fold4)

print('processing fold5')
f5_pairs = build_pairs_dict(fold5)

processing fold1
processing fold2
processing fold3
processing fold4
processing fold5

In [ ]:
print('processing fold1')
t1 = generate_triplets(f1_pairs)

print('processing fold1')
t2 = generate_triplets(f2_pairs)

print('processing fold1')
t3 = generate_triplets(f3_pairs)

print('processing fold1')
t4 = generate_triplets(f4_pairs)

print('processing fold1')
t5 = generate_triplets(f5_pairs)

processing fold1
[log]: generating triples...